@import './../../../styles/mixins.scss';

.pagination {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    .pageItem {
        text-align: center;
        list-style: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        outline: 0;
        cursor: pointer;
        width: 30px;
        height: 30px;
        &:hover {
            border-color: #2767C6;
        }
        .pageref {
            height: 100%;
            @include displayFlex;
            padding: 0 6px;
            color: rgba(0,0,0,.85);
            transition: none;
            color: #2767C6;
        }
    }
}