@import './../../../styles/mixins.scss';

.postsWrap {
    @include flex-col;
    align-items: center;
    width: 100%;
    height: inherit;
    .post {
        @include flex-col;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 14px;
        margin-bottom: 12px;
        width: 70%;
        height: 85px;
        font-family: Arial, sans-serif;
        p {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
            max-height: 44px;
            font-size: 14px;
            &:first-child {
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
            }
        } 
        a {
            color: #2767C6;
            cursor: pointer;
            font-size: 14px;
        }
    }
}

@media (max-width: 900px) {
    .postsWrap {
        .post {
            width: 80%;
        }
    }
}